<% provide(:title, t(".title")) %>
<h1><%= t ".title" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:review, url: tour_reviews_path, html: {multipart: true }  ) do |f| %>

      <%= f.label t(".content") %>
      <%= f.text_area :content,cols: Settings.cols,
        rows: Settings.rows, class: "form-control" %>
      <%= f.file_field :image, multiple: true,
        accept: Settings.accept_image %>
      <%= f.submit t(".post"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
