<section class="hero">
  <header>
    <div class="wrapper">
      <%= link_to image_tag("logo.png", class: "logo"), root_path %>
      <a href="#" class="hamburger"></a>
      <nav>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Reviews", "#" %></li>
          <li><%= link_to "Booking now", "#" %></li>
          <li><%= link_to "About", "#" %></li>
          <li><%= link_to "Contact", "#" %></li>
        </ul>
        <%= link_to "Login", "#", class: "login_btn" %>
      </nav>
    </div>
  </header><!--  end header section  -->

    <section class="caption">
      <h2 class="caption">A journey is best measured in friends, rather than miles.</h2>
      <h3 class="properties">North - Central - South</h3>
    </section>
</section><!--  end hero section  -->

