<section class="hero">
  <header>
    <div class="wrapper">
      <%= link_to image_tag("logo.png", class: "logo"), root_path %>
      <a href="#" class="hamburger"></a>
      <nav>
        <ul>
          <li><%= link_to t(".home"), root_path %></li>
          <li><%= link_to t(".tours"), tours_path %></li>
          <li><%= link_to t(".reviews"), "#" %></li>
          <li><%= link_to t(".bookingnow"), "#" %></li>
          <li><%= link_to t(".about"), "#" %></li>
          <li><%= link_to t(".contact"), "#" %></li>
        </ul>
        <% if logged_in? %>
          <%= link_to t(".logout"), logout_path, class: "login_btn", method: :delete %>
        <% else %>
          <%= link_to t(".login"), login_path, class: "login_btn" %>
        <% end %>
      </nav>
    </div>
  </header><!--  end header section  -->

    <section class="caption">
      <h2 class="caption"><%= t ".caption" %></h2>
      <h3 class="properties"><%= t ".properties" %></h3>
    </section>
</section><!--  end hero section  -->
